.vs
.idea
/FlightData.API/bin/*
/FlightData.API/obj/*
/FlightData.Client/bin/*
/FlightData.Client/obj/*
/FlightData.SharedModels/bin/*
/FlightData.SharedModels/obj/*
/FlightData.BusinessLogic/obj/*
/FlightData.Db/obj
/FlightData.Models/obj
/FlightData.Repositories/obj
